.about__us {
    display: grid;
    /* justify-content: start;
    align-items: start; */
    border: none;
}
.about__us2 {
    display: grid;
    /* justify-content: start;
    align-items: start; */
    border: 1px solid white;
    margin: 0rem 0rem 0rem 0rem;
}
.about__us3 {
    display: grid;
    /* justify-content: start;
    align-items: start; */
    border: 1px solid white;
    margin: 0rem 0rem 3rem 0rem;
}